::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #202124;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f8f9fa;
  border-radius: 20px;
}

/* text */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #202124; */
}

a {
  text-decoration: none !important;
  color: white;
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */

.navbar {
  background-color: hsla(225, 4%, 20%, 1) !important;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/rainbow-vortex.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero.h1 {
  text-align: center;
  line-height: 1.5;
}

.shadow-box {
  box-shadow: 8px 9px white;
}

.shadow-box:hover {
  box-shadow: 8px 9px black;
}

.navbar-blur {
  /* backdrop-filter: blur(15px); */
}

.alert,
.toast {
  color: white !important;
}

.card-img-overlay {
  background: rgb(33 37 41 / 50%);
}

.fs-alt-1 {
  font-size: 4rem;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1514385295299-4f4327e50847?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  height: 100vh;
}

.jumbotron h1 {
  font-size: 3em !important;
}

/* .jumbotron-find {
  width: 60%;
} */

.bg-dark {
  background-color: #31363c !important;
  color: white !important;
}

.btn-dark2 {
  background-color: #31363c !important;
  color: white !important;
}

.bg-danger {
  background-color: #ff3333 !important;
  color: white !important;
}

.card-message {
  height: 50vh;
}

.card-search-index {
  max-height: 40vh;
  z-index: 2;
}

.h-60-vh {
  height: 60vh !important;
}

/* login */
.login-area {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1617623504859-5d0603345834?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1513&q=80);
  background-size: cover;
}

/* loading */
.placeholder,
.placeholder i {
  color: transparent !important;
}
.placeholder {
  /* height: 20px !important; */
  background-color: white !important;
  display: block !important;
}

.form-control:disabled,
select:disabled {
  opacity: 0.4 !important;
}

.placeholder-card-img {
  height: 140px !important;
}

@media (max-width: 768px) {
  .login-area-card {
    width: 100% !important;
  }

  .card-search-index {
    width: 100% !important;
  }
}
